/**
 * Markdown document headings-only font
 *
 * https://www.dafont.com/familiar-pro.font
 */
@font-face {
  font-family: heading;
  font-style: normal;
  /* src: url("/fonts/familiar_pro/Familiar Pro-Bold.otf") */
  src: url("./../../static/fonts/familiar_pro/Familiar Pro-Bold.otf")
    format("opentype");
}

/**
 * Primary font for markdown document,
 * paragraphs, etc.,
 * excluding headings
 */
@font-face {
  font-family: primary;
  font-style: normal;
  /* src: url("/fonts/open_sans/static/OpenSans-Regular.ttf") */
  src: url("./../../static/fonts/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: subheading;
  font-style: normal;
  /* src: url("/fonts/open_sans/static/OpenSans-BoldItalic.ttf") */
  src: url("./../../static/fonts/open_sans/static/OpenSans-BoldItalic.ttf")
    format("truetype");
}


/* Font for Table of Contents' entries, bold, regular, etc. */
@font-face {
  font-family: secondary-light;
  font-style: normal;
  /* src: url("/fonts/fira_sans/FiraSans-Light.ttf") */
  src: url("./../../static/fonts/fira_sans/FiraSans-Light.ttf")
    format("truetype");
}

/**
 * Newton Sans is for extended support of unicode characters of alchemical group
 * https://symbl.cc/en/unicode/blocks/alchemical-symbols/
 *
 * https://webapp1.dlib.indiana.edu/newton/reference/font.do
 * https://webapp1.dlib.indiana.edu/newton/fonts/Unicode-U1F700.pdf
 */
@font-face {
  font-family: "newton-sans-regular";
  src: url("./../../static/fonts/newton_sans/NewtonSans-2015-11-04.ttf")
  /* src: url("/fonts/newton_sans/NewtonSans-2015-11-04.ttf") */
    format("truetype");
}
